<!-- TODO: make reusable components -->

<div fxFlexFill fxLayout="column">

  <!-- HEADER -->
  <div fxLayout="column" fxLayoutAlign="space-between" [ngClass]="'header'" fxLayoutGap="4.9px">

    <!-- superior -->
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">

      <!-- superior izquierda -->
      <span fxFlex fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="7px" [ngClass]="'name mat-h3'">
        <ng-container *ngFor="let crumb of breadcrumbs$ | async; let idx = index">
          <span *ngIf="crumb.last; else bread">{{crumb.name}}</span>
          <ng-template #bread>
            <a (click)="breadCrumbs(crumb, idx)" [ngClass]="'breadcrumb'">{{crumb.name}}</a>
            <span [ngClass]="'normal-click'">/</span>
          </ng-template>
        </ng-container>
      </span>

      <!-- superior derecha -->
      <span fxFlex>&nbsp;</span>
    </div>

    <!-- inferior -->
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px"
      *ngIf="{rActive: rActive$ | async} as r$">

      <!-- inferior izquierda -->
      <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="7px">

        <ng-container *ngIf="mode==='read'; else noRead">
          <button mat-flat-button color="accent" (click)="edit()">Editar</button>
          <button mat-stroked-button color="accent" (click)="create()">Crear</button>
        </ng-container>
        <ng-template #noRead>
          <button mat-flat-button color="accent" (click)="saveSubmit(compRef)">Guardar</button>
          <button mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
        </ng-template>

        <span fxFlex></span>

        <div *ngIf="mode==='read'" [ngClass]="'action-menu'">
          <button mat-button [matMenuTriggerFor]="menu" color="accent">
            <span>Acción</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Copiar</button>
            <button mat-menu-item (click)="delete(r$.rActive)">Eliminar</button>
          </mat-menu>
        </div>

      </div>

      <!-- inferior derecha -->
      <div fxFlex fxLayout="row" fxLayoutAlign="end center" [ngClass]="'mini-button'">
        <ng-container *ngIf="mode!=='create'">
          <span [ngClass]="'mat-body'">{{r$.rActive}} / {{rTotal$|async}}&nbsp;&nbsp;</span>
          <button mat-button (click)="goRecord('prev')">
            <mat-icon inline=true>chevron_left</mat-icon>
          </button>
          <button mat-button (click)="goRecord('next')">
            <mat-icon inline=true>chevron_right</mat-icon>
          </button>
        </ng-container>
      </div>

    </div>
  </div>

  <!-- MODEL BUTTONS AND STATE -->
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start center" [ngClass]="'formbar'">
    <!-- <button mat-stroked-button color="primary">Holas</button> -->
  </div>
  <mat-divider></mat-divider>

  <!-- FORM -->
  <!-- TODO: use a background color with theme system -->
  <div fxFlex [ngClass]="'form'">
    <mat-card [ngClass]="{'mat-elevation-z4': true, 'no-underline': mode==='read'}">
      <ng-container #host></ng-container>
    </mat-card>
  </div>
</div>
