// TODO: consider to put this DRY in theme system. Also don't
// forget this class need mat-icon in html uses inline=true
// this attribute(inline) is proper of mat-icon and is boolean
.mini-button button {
  width: 28px !important;
  min-width: unset !important;
  padding: unset !important;

  .mat-icon {
    font-size: 1.7em;
  }
}

// TODO: consider this make DRY in theme system
// this is a button with a right icon
.action-menu button {
  padding-left: 10px;
  padding-right: 1px;
}

// form header
.header {
  padding: 10px 17px;
  .name {
    // TODO: make this color part of the theme system
    color: rgb(100, 100, 100);
    margin-bottom: unset;
    min-height: 30px;
  }
}

.normal-click {
  cursor: default;
}

// TODO: standarize colors in theme system
.breadcrumb {
  cursor: pointer;
  color: rgb(114, 153, 179);
  &:hover {
    color: rgb(16, 57, 88);
  }
}

// form buttons and status bar
.formbar {
  padding: 0 21px;
  button {
    margin: 10px 10px;
  }
}

// form
.form {
  overflow-y: auto;
  // TODO: make this color part of the theme system
  background: rgb(238, 238, 238);
  .mat-card {
    margin: 21px 70px;
  }
}
