<!-- ZERO LEVEL depth = 0 -->
<!-- TODO: when click a menu, other open on hover without making another click -->
<div #container fxFlex>
  <ng-container *ngFor="let item of zItems">

    <!-- with submenu and directive to close menu -->
    <ng-container *ngIf="item.children && item.children.length > 0; else nosub">
      <button #button mat-button [matMenuTriggerFor]="menu.childMenu" #trigger="matMenuTrigger"
        (appClickOutside)="trigger.closeMenu()" [ngClass]="{'hidden': tranparent}">
        <ng-container *ngTemplateOutlet="base; context:{$implicit:item, menu:true}">
        </ng-container>
      </button>
      <app-sub-menus #menu [items]="item.children" [icons]="icons" [depth]="1"></app-sub-menus>
    </ng-container>

    <!-- no submenu -->
    <ng-template #nosub>
      <button #button mat-button [routerLink]="[item.menu_type, item.client_route]" routerLinkActive="color-active"
        [ngClass]="{'hidden': tranparent}" (click)="go(item)">
        <ng-container *ngTemplateOutlet="base; context:{$implicit:item, menu:false}"></ng-container>
      </button>
    </ng-template>

  </ng-container>
</div>

<!-- button format, only icon for more button -->
<ng-template #base let-i let-m="menu">
  <mat-icon *ngIf="icons || i.menu_type == 'more'" [ngClass]="{'routeIcon': i.menu_type != 'more'}">
    {{i.icon}}
  </mat-icon>
  {{i.name}}
  <mat-icon *ngIf="m && !icons && i.menu_type != 'more'">
    arrow_drop_down
  </mat-icon>
</ng-template>
