<mat-table [dataSource]="list" class="config.style.elevation" (appClickOutside)="clickOutSide()" [checkDom]="true">

  <!-- select column -->
  <!-- we not use mat-checkbox directly in order to gain performance with OnPush -->
  <ng-container *ngIf="config.selection!=='no'" matColumnDef="initial_select">
    <mat-header-cell *matHeaderCellDef fxFlex="42px" [ngClass]="'select'">
      <app-master-check [length$]="check.len$" [count$]="check.count$" (toggle)="master.emit($event)"
        [disbld]="lastRowClicked!==null || data.length === 0">
        <!-- disbld => data.length ===0 avoid flicker when create new in listtable editable, and it is more logical -->
      </app-master-check>
    </mat-header-cell>
    <mat-cell *matCellDef=" let rowRecord" fxFlex="42px" [ngClass]="'select'" (click)="$event.stopPropagation()">
      <app-check *ngIf="!rowRecord.xEmpty" [check]="checkBool[rowRecord.id]" [disbld]="lastRowClicked!==null"
        (toggle)="singleCheck($event, rowRecord.id)"></app-check>
    </mat-cell>
  </ng-container>

  <!-- main data columns -->
  <ng-container [matColumnDef]="field.fieldname" *ngFor="let field of metafields; let cIndex = index">
    <mat-header-cell mat-header-cell *matHeaderCellDef>
      {{ field.label }}
    </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let rowRecord; let rIndex = index"
      (click)="cellCliked(rIndex, cIndex, rowRecord, field)">

      <!-- widgets -->
      <ng-container *ngIf="!rowRecord.xEmpty" [ngSwitch]="field.widget">
        <app-char #dCell *ngSwitchCase="'char'" [type]="'inlist'" [parent]="data.controls[rIndex]" [meta]="field"
          [error]="[0,'0x']" [edit]="lastRowClicked!==rIndex" (keys)="keys($event)">
        </app-char>
        <app-many2one #dCell *ngSwitchCase="'m2o'" [type]="'inlist'" [parent]="data.controls[rIndex]" [meta]="field"
          [validators]="config.def[field.fieldname]" [error]="[0,'0']" [edit]="lastRowClicked!==rIndex"
          (keys)="keys($event)">
        </app-many2one>

        <!-- default types -->
        <ng-container *ngSwitchDefault [ngSwitch]="checkType(rowRecord[field.fieldname])">
          <app-char #dCell *ngSwitchCase="'string'" [type]="'inlist'" [parent]="data.controls[rIndex]" [meta]="field"
            [error]="[0,'0x']" [edit]="lastRowClicked!==rIndex" (keys)="keys($event)">
          </app-char>
          <app-integer #dCell *ngSwitchCase="'number'" [type]="'inlist'" [parent]="data.controls[rIndex]" [meta]="field"
            [error]="[0,'0x']" [edit]="lastRowClicked!==rIndex" (keys)="keys($event)">
          </app-integer>
        </ng-container>
      </ng-container>


    </mat-cell>
  </ng-container>


  <!-- delete column -->
  <ng-container *ngIf="config.deletion" matColumnDef="final_delete">
    <mat-header-cell *matHeaderCellDef fxFlex="35px"></mat-header-cell>
    <mat-cell *matCellDef="let rowRecord; let rIndex = index" fxFlex="35px" [ngClass]="'mini-button'">
      <button *ngIf="!rowRecord.xEmpty" mat-button type="button" (click)="delete(rIndex)">
        <mat-icon inline=true>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <!-- footer -->
  <ng-container matColumnDef="controls">
    <mat-footer-cell *matFooterCellDef [attr.colspan]="metafields.length">
      <ng-container *ngIf="editable && !config.externalCreate">
        <button mat-button color="accent" type="button" (click)="add()">{{config.style.addButtonName}}</button>
      </ng-container>
    </mat-footer-cell>
  </ng-container>


  <!-- rows -->
  <mat-header-row *matHeaderRowDef="columnNames; sticky: config.style.headerRowSticky"></mat-header-row>
  <mat-row *matRowDef=" let row; columns: columnNames; let i=index"
    [ngClass]="{ highlight: i % 2 === 0, 'no-underline': lastRowClicked!==i}"></mat-row>
  <mat-footer-row *matFooterRowDef="['controls']; sticky: config.style.footerRowSticky" [ngClass]="{'hidden': !(editable && !config.externalCreate)}">
  </mat-footer-row>

</mat-table>
