<ng-container [formGroup]="m2o">


  <!-- NORMAL -->
  <ng-container *ngIf="type==='normal'; else inlist">

    <mat-form-field appearance="standard" floatLabel="always" [ngClass]="'simple-m2o'" (click)="panel('toggle')"
      (appClickOutside)="panel('close'); exit()">
      <mat-label>{{meta.label}}</mat-label>
      <input #pFocus matInput [placeholder]="meta.placeholder" formControlName="str_name" type="text" autocomplete="off"
        [matAutocomplete]="auto" #trigger="matAutocompleteTrigger" (keydown.escape)="panel('close')"
        (keydown.arrowup)="panel('open')" (keydown.arrowright)="panel('open')" (keydown.arrowdown)="panel('open')"
        (keydown.arrowleft)="panel('open')" (keydown.tab)="forceClose()" (keydown.shift.tab)="forceClose()"
        (focus)="isFocused=true; onFocus()" (blur)="isFocused=false">
      <button *ngIf="mode!=='read'" mat-button matSuffix [ngClass]="'mini-button'" tabindex="-1">
        <mat-icon inline=true>arrow_drop_down</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selected($event.option)">
        <mat-option #opt *ngFor="let option of filteredOptions; let idx = index" [value]="option"
          [ngClass]="{'autocomplete': true, 'active-option': avoidFlicker(idx)}" (mouseover)="over(idx)"
          (mouseleave)="leave()">
          {{option.str_name}}
        </mat-option>
      </mat-autocomplete>
      <!-- <mat-error *ngIf="error[0]">{{error[1]}}</mat-error> -->
    </mat-form-field>

  </ng-container>


  <!-- INLIST -->
  <ng-template #inlist>

    <mat-form-field appearance="standard" [ngClass]="{'inlist simple-m2o': true, 'clickable': edit}"
      (click)="!edit ? panel('toggle') : null" (appClickOutside)="panel('close'); exit()">
      <input #pFocus matInput [placeholder]="meta.placeholder" formControlName="str_name" type="text" autocomplete="off"
        [matAutocomplete]="auto" #trigger="matAutocompleteTrigger" (keydown.escape)="keyEsc()"
        (keydown.arrowup)="panel('open')" (keydown.arrowright)="panel('open')" (keydown.arrowdown)="panel('open')"
        (keydown.arrowleft)="panel('open')" (keydown.tab)="forceClose()" (keydown.shift.tab)="forceClose()"
        (keydown.enter)="keyEnter()" (keydown.shift.enter)="keyShiftEnter()" (focus)="isFocused=true; onFocus()"
        (blur)="isFocused=false">
      <button *ngIf="mode!=='read' && !edit" mat-button matSuffix [ngClass]="'mini-button tiny'" tabindex="-1">
        <mat-icon inline=true>arrow_drop_down</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selected($event.option)">
        <mat-option #opt *ngFor="let option of filteredOptions; let idx = index" [value]="option"
          [ngClass]="{'autocomplete': true, 'active-option': avoidFlicker(idx)}" (mouseover)="over(idx)"
          (mouseleave)="leave()">
          {{option.str_name}}
        </mat-option>
      </mat-autocomplete>
      <!-- <mat-error *ngIf="error[0]">{{error[1]}}</mat-error> -->
    </mat-form-field>

  </ng-template>


</ng-container>
