input.mat-input-element:disabled {
  color: unset;
}

// TODO: standarize theme system
.mini-button {
  width: 35px !important;
  min-width: unset !important;
  height: 30px;
  padding: unset !important;
  &.tiny {
    height: 22.4px;
  }
  .mat-icon {
    color: gray;
    font-size: 1.19em;
  }
}

// AUTOCOMPLETE SIZE

.autocomplete {
  font-size: 14px;
  height: 35px;
}

// HOVER EFFECT ON OPTIONS

// TODO: theme systeme add please
.mat-option {
  &:hover {
    background: unset; // hide default background
  }
  &.mat-active {
    @extend .active-option;
  }
}

// TODO: theme systeme add please
.active-option {
  background-color: #78909c;
  color: white;
}
