// paginator

// TODO: consider to put this DRY in theme system. Also don't
// forget this class need mat-icon in html uses inline=true
// this attribute(inline) is proper of mat-icon and is boolean
.mini-button button {
  width: 28px !important;
  min-width: unset !important;
  padding: unset !important;

  .mat-icon {
    font-size: 1.7em;
  }
}

.clickable {
  cursor: pointer;
}

.normal-click {
  cursor: default;
}
