<ng-container *ngIf="{pagination: pagination$ | async} as p$">

  <div *ngIf="show && p$.pagination[2] !== 0" [ngClass]="'mini-button'">

    <ng-container *ngIf="edit; else showPagination">
      <mat-form-field [ngClass]="'paginator-outline'" color="accent" appearance="outline" (keyup.enter)="editPage()"
        (keyup.escape)="edit=0" (appClickOutside)="editPage(p$.pagination[0])">
        <input matInput [ngClass]="'mat-body'" #paginatorInput [formControl]="paginator">
      </mat-form-field>
      <span [ngClass]="'normal-click mat-body'">&nbsp;{{p$.pagination[1]}}&nbsp;&nbsp;</span>
    </ng-container>

    <ng-template #showPagination>
      <span [ngClass]="'normal-click mat-body'">
        <span [ngClass]="'clickable'" (click)="edit=1">{{p$.pagination[0]}}</span>
        &nbsp;{{p$.pagination[1]}}&nbsp;&nbsp;
      </span>
    </ng-template>


    <!-- buttons -->
    <button mat-button>
      <mat-icon inline=true (click)="dirclick.emit('previous')">chevron_left</mat-icon>
    </button>
    <button mat-button>
      <mat-icon inline=true (click)="dirclick.emit('next')">chevron_right</mat-icon>
    </button>

  </div>

</ng-container>
