<ng-container [formGroup]="parent">


  <!-- NORMAL -->
  <ng-container *ngIf="type==='normal'; else inlist">

    <mat-form-field appearance="standard">
      <mat-label>{{meta.label}}</mat-label>
      <input #focus matInput [placeholder]="meta.placeholder" [formControlName]="meta.fieldname" type="number"
        autocomplete="off">
      <mat-error *ngIf="error[0]">{{error[1]}}</mat-error>
    </mat-form-field>

  </ng-container>


  <!-- INLIST -->
  <ng-template #inlist>

    <mat-form-field appearance="standard" [ngClass]="{'inlist': true,'clickable': edit}">
      <input #focus matInput [placeholder]="meta.placeholder" [formControlName]="meta.fieldname" type="number"
        autocomplete="off" (keydown.shift.enter)="keys.emit('shift+enter')" (keydown.enter)="keys.emit('enter')"
        (keydown.escape)="keys.emit('esc')">
      <mat-error *ngIf="error[0]">{{error[1]}}</mat-error>
    </mat-form-field>

  </ng-template>


</ng-container>
