<div [ngClass]="'theme' + (theme$ | async)">

  <!-- Title -->
  <div mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="'mini-button'">
      <span [ngClass]="'mat-body-2'">Agregar o Quitar {{data.meta.label}}</span>
      <button mat-button (click)="cancel()" tabindex="-1">
        <mat-icon inline=true>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider [ngClass]="'divider'"></mat-divider>

  <!-- Content -->
  <div mat-dialog-content *ngIf="!resolving">

    <!-- HEADER -->
    <div fxLayout="column" fxLayoutAlign="space-between" [ngClass]="'sidepad'">

      <!-- filter -->
      <app-filter #filter fxFlex [data$]="data$" [chips$]="chips$" [meta]="view" (domainEvent)="domain($event)">
      </app-filter>

      <!-- paginator -->
      <app-paginator fxFlexAlign="end" [show]="!empty" [pagination$]="pagination$" [data$]="data$"
        (ready)="customPage($event)" (dirclick)="goPage($event)" [ngClass]="'paginator'">
      </app-paginator>

    </div>

    <!-- list -->
    <app-listtable #listtable [parent]="group" [metafields]="metaColumns$ | async" [cNames]="columnNames$ | async"
      [check]="check" [editable]="false" [config]="config" (cellclick)="singleCheck($event.rowRecord)"
      (master)="masterCheck($event)" (single)="singleCheck($event)">
    </app-listtable>


  </div>

  <!-- Actions -->
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" [mat-dialog-close]="ids">Ok</button>
    <button mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
  </div>

</div>


<!-- ////////////////////////////////////////////////////////// -->
<!-- /////////////////////////  END  ////////////////////////// -->
<!-- ////////////////////////////////////////////////////////// -->

<!-- foo reference for dynamic components -->
<div [ngStyle]="{'display': 'none'}">
  <ng-container #host></ng-container>
</div>
