<form [formGroup]="group" (ngSubmit)="submitForm()" #formRef="ngForm">

  <app-char #firstFocus [parent]="group" [meta]="fields.name" [error]="eName()"></app-char>

  <app-one2many #relational [parent]="group" [meta]="fields.attribute_line_ids" [def]="definition.attribute_line_ids"></app-one2many>

  <br>
  <button type=button (click)="ok()">ok</button>

</form>
