<ng-container *ngIf="{ fields: fields$ | async,  record: record$ | async } as form">
    <ng-container *ngFor="let field of form.fields">
        <p>{{field.form_label|uppercase}}: &nbsp;&nbsp;&nbsp;&nbsp;{{form.record[field.fieldname]}}</p>

    </ng-container>
</ng-container>
