.svg-img {
  max-width: 49px;
  width: 100%;
  // .forro {
  //   fill: #85bc94;
  // }
  // .forro-bajo {
  //   fill: #6b9777;
  // }
  // .talon-lengueta {
  //   fill: #a88e74;
  // }
  // .planta-alta {
  //   fill: #eaeae8;
  // }
  // .planta-baja {
  //   fill: #e4e4e2;
  // }
  // .lineas {
  //   fill: #a8d6da;
  // }
  .forro {
    fill: #85bc94;
  }
  .forro-bajo {
    fill: #6b9777;
  }
  .talon-lengueta {
    fill: #a88e74;
  }
  .planta-alta {
    fill: #eaeae8;
  }
  .planta-baja {
    fill: #e4e4e2;
  }
  .lineas {
    fill: #a8d6da;
  }
}

.container-svg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
