<form [formGroup]="group" (ngSubmit)="submitForm()" #formRef="ngForm">

  <app-char #firstFocus [parent]="group" [meta]="fields.name" [error]="eName()"></app-char>

  <app-many2one [parent]="group" [meta]="fields.product_id" [validators]="definition.product_id" [error]="[0,'0']">
  </app-many2one>


</form>
