<mat-menu #childMenu="matMenu" hasBackdrop="false">
  <ng-container *ngFor="let item of items">

    <!-- TODO: keep open status of menus, when mouse hover other menu previous close and hover menu open -->
    <!-- with submenu -->
    <ng-container *ngIf="item.children && item.children.length > 0; else nosub">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
        <ng-container *ngTemplateOutlet="base; context:{$implicit:item}">
        </ng-container>
      </button>
      <app-sub-menus #menu [items]="item.children" [icons]="icons" [depth]="depth+1"></app-sub-menus>
    </ng-container>

    <!-- no submenu -->
    <ng-template #nosub>
      <button mat-menu-item [routerLink]="[item.menu_type, item.client_route]" routerLinkActive="color-active"
        (click)="go(item)">
        <ng-container *ngTemplateOutlet="base; context:{$implicit:item}"></ng-container>
      </button>
    </ng-template>

  </ng-container>
</mat-menu>

<!-- button format -->
<ng-template #base let-i>
  <mat-icon *ngIf="icons && i.icon" [ngClass]="{'routeIcon': i.name != ''}">
    {{i.icon}}
  </mat-icon>
  {{i.name}}
</ng-template>
