<!-- TODO: make reusable components -->
<div fxFlexFill fxLayout="column">

  <!-- HEADER -->
  <div fxLayout="column" fxLayoutAlign="space-between" [ngClass]="'header'" fxLayoutGap="4.9px">

    <!-- superior -->
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">

      <!-- superior izquierda -->
      <span fxFlex fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="7px" [ngClass]="'name mat-h3'">
        <ng-container *ngFor="let crumb of breadcrumbs$ | async; let idx = index">
          <span *ngIf="crumb.last; else bread">{{crumb.name}}</span>
          <ng-template #bread>
            <a (click)="breadCrumbs(crumb.route)" [ngClass]="'breadcrumb'">{{crumb.name}}</a>
            <span [ngClass]="'normal-click'">/</span>
          </ng-template>
        </ng-container>
      </span>

      <!-- superior derecha -->
      <app-filter fxFlex [data$]="data$" [chips$]="chips$" [meta]="view" (domainEvent)="domain($event)"></app-filter>

    </div>

    <!-- inferior -->
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">

      <!-- inferior izquierda -->
      <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="7px">
        <ng-container *ngIf="listtable?.lastRowClicked===null; else noRead">
          <button mat-flat-button color="accent" (click)="create()">Crear</button>
        </ng-container>
        <ng-template #noRead>
          <!-- Guardar has the same effect as clickoutside -->
          <button mat-flat-button color="accent">Guardar</button>
          <button mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
        </ng-template>

        <span fxFlex></span>

        <div *ngIf="(count$ | async) > 0" [ngClass]="'action-menu'">
          <button mat-button [matMenuTriggerFor]="menu" color="accent">
            <span>Acción</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>Archivar</button> -->
            <button mat-menu-item (click)="delete()">Eliminar</button>
          </mat-menu>
        </div>
      </div>

      <!-- inferior derecha -->
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">

        <span fxFlex></span>

        <!-- paginator -->
        <app-paginator [show]="!empty" [pagination$]="pagination$" [data$]="data$" (ready)="customPage($event)"
          (dirclick)="goPage($event)">
        </app-paginator>

      </div>


    </div>
  </div>



  <!-- LIST (with scroll) -->
  <div fxFlex [ngClass]="'list'">

    <app-listtable #listtable [parent]="group" [metafields]="metaColumns$ | async" [cNames]="columnNames$ | async"
      [check]="check" [editable]="editable" [config]="config" (cellclick)="form($event)" (master)="masterCheck($event)"
      (single)="singleCheck($event)" (out)="save($event)" (emode)="emode($event)" *ngIf="!empty; else new">
    </app-listtable>

    <ng-template #new>
      <div fxFlexFill [ngClass]="'no-record'" fxLayout="column" fxLayoutAlign="start center">
        <mat-icon svgIcon="newFile"></mat-icon>
        <div [ngClass]="'mat-h2'">{{newMessage}}</div>
      </div>
    </ng-template>

    <!-- preload image (it doesn't show on screen) -->
    <mat-icon [ngClass]="'preload'" svgIcon="newFile"></mat-icon>
  </div>

</div>


<!-- foo reference for dynamic components -->
<div [ngStyle]="{'display': 'none'}">
  <ng-container #host></ng-container>
</div>
