.normal-click {
  cursor: default;
}

// list header
.header {
  padding: 10px 17px;
  .name {
    // TODO: make this color part of the theme system
    color: rgb(100, 100, 100);
    margin-bottom: unset;
    min-height: 30px;
  }
}

// TODO: standarize colors in theme system
.breadcrumb {
  cursor: pointer;
  color: rgb(114, 153, 179);
  &:hover {
    color: rgb(16, 57, 88);
  }
}

// new file
.no-record {
  & mat-icon {
    margin-top: 17%;
    margin-bottom: 7px;
    $size: 140px;
    font-size: 0px;
    width: $size;
    height: $size;
  }
  // background: rgb(210, 210, 210); // different background (optional)
}

// list

.list {
  overflow-y: auto;
  // TODO: make this color part of the theme system
  background: rgb(210, 210, 210);
  .preload {
    display: none;
  }
}

// TODO: consider this make DRY in theme system
// this is a button with a right icon
.action-menu button {
  padding-left: 10px;
  padding-right: 1px;
}
