<form [formGroup]="group" (ngSubmit)="submitForm()" #formRef="ngForm">

  <app-many2one #firstFocus [parent]="group" [meta]="fields.patron_id" [validators]="definition.patron_id"
    [error]="[0,'0']"></app-many2one>

  <br>
  <app-many2one [parent]="group" [meta]="fields.atributo_id" [validators]="definition.atributo_id" [error]="[0,'0']">
  </app-many2one>

  <br>
  <app-many2many #relational [parent]="group" [meta]="fields.valor_ids" [def]="definition.valor_ids"></app-many2many>


  <br>
  <button type=button (click)="ok()">ok</button>


</form>
