<!-- api call -->
<ng-container *ngIf="{cargando: cargando$ | async} as data">
  <div *ngIf="data.cargando && !firstLoad" [@fadeOut] [ngClass]="'mat-caption loading'">
    Cargando ({{data.cargando}})
  </div>
</ng-container>


<!-- outlet -->
<router-outlet></router-outlet>



<!-- <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div> -->
<!-- <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</div> -->


<!-- App Initial loading animation (uncomment the effect you want) -->
<div *ngIf="firstLoad" class="loader-container">
  <!-- Image -->
  <!-- Simplemente la misma imagen de index.html-->
  <svg class="css-bootstrap-img" viewBox="0 0 560 560">
    <defs>
      <filter id="blur">
        <feGaussianBlur in="SourceGraphic" stdDeviation="14" />
        <feMerge>
          <feMergeNode />
          <feMergeNode in="SourceGraphic" />
        </feMerge>
      </filter>
    </defs>
    <!-- Put your svg img here, inside <g>, and center it with translate. Origin is in top-left -->
    <!-- Remember to put the same svg img in app component (inside <g> also)-->
    <g transform="translate(28,91) scale(1)" style="filter:url(#blur)">

      <!-- forro principal -->
      <path
        d="m107.042969 44.914062-62.875 98.804688-7.492188 12.730469 286.691407 157.191406 16.464843 8.226563 83.84375 1.5h88.324219l-.746094-46.457032c-.003906-24.4375-18.890625-44.71875-43.269531-46.457031l-82.484375-5.890625-80.84375-134.738281v-14.371094c.042969-7.9375-6.355469-14.40625-14.292969-14.449219-1.804687-.007812-3.597656.324219-5.277343.976563l-91.066407 35.136719zm0 0"
        fill="#85bc94" />
      <!-- talon y lengueta -->
      <g fill="#a88e74">
        <path
          d="m107.789062 44.914062 26.949219-44.914062 58.035157 31.152344c10.710937 5.75 16.019531 18.144531 12.789062 29.867187l-10.777344 36.097657-7.671875 7.679687-83.816406-50.15625zm0 0" />
        <path d="m305.402344 89.824219-35.929688 26.949219 89.824219 116.769531 26.949219-8.980469zm0 0" />
      </g>
      <!-- forro bajo -->
      <g fill="#6b9777">
        <path
          d="m170.667969 224.5625c-4.960938.003906-8.988281-4.015625-8.992188-8.976562 0-2.671876 1.1875-5.207032 3.242188-6.914063l53.894531-44.914063c3.816406-3.171874 9.480469-2.65625 12.65625 1.160157 3.175781 3.816406 2.65625 9.480469-1.160156 12.65625l-53.894532 44.914062c-1.613281 1.339844-3.648437 2.074219-5.746093 2.074219zm0 0" />
        <path
          d="m215.578125 251.507812c-4.960937.003907-8.984375-4.015624-8.984375-8.976562-.003906-2.730469 1.238281-5.316406 3.371094-7.019531l44.914062-35.929688c3.871094-3.101562 9.527344-2.472656 12.628906 1.402344 3.101563 3.871094 2.472657 9.527344-1.402343 12.628906l-44.914063 35.929688c-1.59375 1.273437-3.570312 1.96875-5.613281 1.964843zm0 0" />
        <path
          d="m267.785156 280.703125c-4.960937-.007813-8.976562-4.03125-8.972656-8.992187.003906-2.347657.925781-4.601563 2.566406-6.277344l28.628906-29.195313c3.523438-3.492187 9.210938-3.46875 12.703126.054688 3.421874 3.453125 3.476562 9 .125 12.519531l-28.636719 29.195312c-1.691407 1.722657-4 2.695313-6.414063 2.695313zm0 0" />
        <path
          d="m87.011719 77.472656 37.351562 27.765625c17.488281 13.007813 26.539063 34.484375 23.640625 56.085938l-1.796875 40.78125-101.1875-58.277344zm0 0" />
      </g>
      <!-- planta alta -->
      <path
        d="m8.984375 188.632812 324.113281 179.648438h133.992188c24.800781 0 44.910156-20.109375 44.910156-44.914062v-8.980469h-170.667969l-305.714843-175.949219zm0 0"
        fill="#eaeae8" />
      <!-- planta baja -->
      <path
        d="m467.085938 368.28125c14.074218-.027344 27.3125-6.683594 35.726562-17.964844h-161.480469l-322.945312-179.417968-9.40625 17.734374 324.117187 179.648438zm0 0"
        fill="#e4e4e2" />
      <!-- lineas -->
      <g fill="#a8d6da">
        <path
          d="m53.894531 269.472656h-44.910156c-4.960937 0-8.984375-4.019531-8.984375-8.980468 0-4.960938 4.023438-8.984376 8.984375-8.984376h44.910156c4.960938 0 8.984375 4.023438 8.984375 8.984376 0 4.960937-4.023437 8.980468-8.984375 8.980468zm0 0" />
        <path
          d="m125.753906 323.367188h-116.769531c-4.960937 0-8.984375-4.019532-8.984375-8.980469 0-4.960938 4.023438-8.984375 8.984375-8.984375h116.769531c4.960938 0 8.984375 4.023437 8.984375 8.984375 0 4.960937-4.023437 8.980469-8.984375 8.980469zm0 0" />
        <path
          d="m224.5625 377.261719h-215.578125c-4.960937 0-8.984375-4.019531-8.984375-8.980469s4.023438-8.984375 8.984375-8.984375h215.578125c4.960938 0 8.980469 4.023437 8.980469 8.984375s-4.019531 8.980469-8.980469 8.980469zm0 0" />
      </g>

    </g>
  </svg>

  <!-- Spinner -->
  <div class="loader-spinner"></div>
</div>
