// CARGANDO
.loading {
  background: rgb(210, 210, 210);
  padding: 4.9px 10px;
  z-index: 3000;
  position: absolute;
  bottom: 0;
  right: 0;
}

// SPINNER

.loader-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-spinner {
  // vars
  $loader-size: 28px;
  // $border-color-full: rgb(154, 209, 231);
  $border-color-full: #b6e6dedc;
  // spinner
  width: $loader-size;
  height: $loader-size;
  border: 3.5px solid rgba($color: $border-color-full, $alpha: 0.2);
  border-left-color: $border-color-full;
  border-radius: 50%;
  background: transparent;
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
