.mat-toolbar {
  padding: 0%;
  z-index: 2;
  height: 56px;
}

.logo {
  height: 70%;
}

// // how to apply specific style to specific tooltip from component scss style
// // you have to use [matTooltipClass]="'tooltip1x'" in the html tag to apply
// ::ng-deep .mat-tooltip.tooltip1x {
//   background: red;
//   font-size:20px;
// }
