<div fxLayout="column" fxFlexFill [ngClass]="'theme' + (theme$ | async)">

  <mat-toolbar class="mat-elevation-z1" color="primary" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="7px">

    <button mat-button fxHide.gt-xs (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/" fxFlexAlign="center" class="logo" [ngStyle]="{'padding-left': activeMedia=='xs' ? '0px' : '21px'}"
      matTooltip="Menu Principal">
      <!-- example of img tag with childOnChange(), see slowFlag -->
      <!-- <img src="{{logo}}" alt="Logo" (load)="childOnChange()" /> -->
      <app-svgicon></app-svgicon>
    </a>

    <app-toolbar-menu fxFlex fxHide.xs [items]="items" [slow]="slowFlag" [icons]="false"></app-toolbar-menu>
    <span fxFlex fxHide.gt-xs></span>

    <!-- <button mat-button (click)="setTheme(1)">SEARCH</button> -->
    <button mat-button (click)="logout()">Logout</button>

  </mat-toolbar>



  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav fxHide.gt-xs class="mat-elevation-z8" mode="over" [(opened)]="opened" [autoFocus]="false">
      <mat-nav-list>
        <app-vertical-menu *ngFor="let item of items" [item]="item" [sidenav]="sidenav" [icons]="true">
        </app-vertical-menu>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngTemplateOutlet="ref"></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
