<div fxLayout="column" fxFlexFill [ngClass]="'theme' + (theme$ | async)">

  <mat-toolbar class="mat-elevation-z1" color="primary" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="7px">

    <!-- enterprise -->
    <a fxFlexAlign="center" class="logo">
      <app-svgicon></app-svgicon>
    </a>
    <div fxFlexAlign="center" class="mat-title light">CARRENTO</div>

    <!-- responsive space -->
    <span fxFlex></span>

    <!-- buttons -->
    <!-- <button mat-button (click)="setTheme(1)">SEARCH</button> -->
    <button mat-button (click)="logout()">Logout</button>

  </mat-toolbar>


  <mat-sidenav-container fxFlex>
    <mat-sidenav-content>

      <app-desk-menu [groups]="groups"></app-desk-menu>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
