// these classes help scroll in mobile
div.container {
  height: 100%;
}

div.content {
  width: 100%;
  overflow-y: auto;
  padding-top: 14vh;
  padding-bottom: 14vh;
}

// allow a good width and components separations
.mat-card {
  width: 30vw;
  max-width: 314px;
  min-width: 245px;
  > mat-card-title {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .login {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
