<div class="container mat-app-background">
  <div class="content mat-app-background" fxLayout="column" fxLayoutAlign="start center">

    <mat-card>
      <div fxLayoutAlign="center" [ngClass]="'mat-title'" [ngStyle]="{'padding': '14px 0px'}">Ingreso al Sistema</div>
      <mat-card-content>

        <form [formGroup]="group" (ngSubmit)="loginSubmit(group)">
          <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="7px">

            <!-- username -->
            <mat-form-field appearance="outline">
              <mat-label>Email:</mat-label>
              <input matInput placeholder="name@mail.com" name="email" formControlName="email" type="text">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="eEmail(0)">{{eEmail(1)}}</mat-error>
            </mat-form-field>

            <!-- password -->
            <mat-form-field appearance="outline">
              <mat-label>Contraseña:</mat-label>
              <input matInput name="password" formControlName="password" [type]="hidePass ? 'password' : 'text'">
              <mat-icon matSuffix mat-icon-button (click)="hidePass = !hidePass" [ngStyle]="{'cursor': 'pointer'}">
                {{hidePass ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="ePass(0)">{{ePass(1)}}</mat-error>
            </mat-form-field>

            <!-- submit -->
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="7px" class="login">
              <button mat-stroked-button color="primary" type="submit" [disabled]="status==1 || status==3">
                Iniciar Sesión
              </button>
              <mat-spinner *ngIf="status==1" [diameter]="21" [strokeWidth]="2.1"></mat-spinner>
              <mat-icon *ngIf="status==2" class="color-danger">clear</mat-icon>
              <mat-icon *ngIf="status==3" class="color-success">done</mat-icon>
            </div>

          </div>
        </form>

      </mat-card-content>
    </mat-card>

    <span class="color-secondary mat-caption"><br>Powered by ABM Sistemas</span>
  </div>
</div>

<ng-template #snackTemplate>
  <span fxLayoutAlign="center">{{message}}</span>
</ng-template>
