<a mat-list-item href="javascript:void(0);" (click)="onItemSelected(item)">

  <!-- space when depth>=1 and icons==true in order to align text after icons-->
  <span [ngStyle]="{'margin-left': (( depth === 0 || !icons ? 0 : 30 ) + depth * 10) + 'px'}"></span>

  <mat-icon *ngIf="icons && item.icon" [ngClass]="{'routeIcon': item.name != ''}">
    {{item.icon}}
  </mat-icon>

  <!-- the name of items -->
  <span [ngStyle]="{'margin-right': '30px'}"
    [ngClass]="{'mat-caption': depth==0, 'mat-body-1': depth>0, 'color-active': isActive()}">
    {{depth === 0 ? (item.name | uppercase) : item.name}}
  </span>

  <!-- icon for expandables with animations -->
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@rotate90]="expanded ? 'expanded': 'collapsed'">
      chevron_right
    </mat-icon>
  </span>

</a>

<!-- recursive -->
<div *ngIf="expanded" [@fadedGrowY]>
  <app-vertical-menu *ngFor="let child of item.children" [item]="child" [depth]="depth+1" [sidenav]="sidenav"
    [icons]="icons">
  </app-vertical-menu>
</div>
