@import "~@angular/material/theming";
@include mat-core(); // Be sure that you only ever include this mixin once!

// -------------------------------
// Color for text/notifications
// -------------------------------

// este map $notifications servira para crear clases
// que permitiran aplicar: color, background etc.

$notifications: (
  primary: mat-color($mat-cyan, A400),
  secondary: mat-color($mat-gray, 400),
  success: mat-color($mat-green, 300),
  error: mat-color($mat-red, 200),
  danger: mat-color($mat-red, 400),
  warning: mat-color($mat-amber, 200),
  info: mat-color($mat-blue, 300),
  active: mat-color($mat-blue-gray,200),
  dark: mat-color($mat-gray, 600)
);

// -----------------------------
// Custom Palletes
// -----------------------------

// se usan para aplicar primary, accent, o warn en los theme de los template.
// al cambiar custom-darklight-primary text sirve para el color de elementos de
// angular material dentro de otros elementos de angular material, por ejemplo
// el forecolor de un boton dentro de toolbar sera afectado por estos colores.

$custom-dark-primary-text: rgba(black, 0.87); // solo se obtiene con mat-contrast
$custom-light-primary-text: white; // solo se obtiene con mat-contrast

$mat-clarity-blue: (
  50: #e0e7ea,
  100: #b3c3ca,
  200: #809ba6,
  300: #4d7282,
  400: #265468,
  500: #00364d,
  600: #003046,
  700: #00293d,
  800: #002234,
  900: #001625,
  A100: #def5ff,
  A200: #6bc1e6,
  A400: #169cd4,
  A700: #0088c2,
  contrast: (
    50: $custom-dark-primary-text,
    100: $custom-dark-primary-text,
    200: $custom-dark-primary-text,
    300: $custom-light-primary-text,
    400: $custom-light-primary-text,
    500: $custom-light-primary-text,
    600: $custom-light-primary-text,
    700: $custom-light-primary-text,
    800: $custom-light-primary-text,
    900: $custom-light-primary-text,
    A100: $custom-dark-primary-text,
    A200: $custom-light-primary-text,
    A400: $custom-light-primary-text,
    A700: $custom-light-primary-text
  )
);

$mat-clarity-orange: (
  50: #fff9ee,
  100: #ffefd6,
  200: #ffe5ba,
  300: #fedb9e,
  400: #fed38a,
  500: #fecb75,
  600: #fec66d,
  700: #febe62,
  800: #feb858,
  900: #fdac45,
  A100: #fff9eb,
  A200: #fff0cd,
  A400: #ffdb86,
  A700: #ffcc53,
  contrast: (
    50: $custom-dark-primary-text,
    100: $custom-dark-primary-text,
    200: $custom-dark-primary-text,
    300: $custom-dark-primary-text,
    400: $custom-dark-primary-text,
    500: $custom-dark-primary-text,
    600: $custom-dark-primary-text,
    700: $custom-dark-primary-text,
    800: $custom-dark-primary-text,
    900: $custom-dark-primary-text,
    A100: $custom-dark-primary-text,
    A200: $custom-dark-primary-text,
    A400: $custom-dark-primary-text,
    A700: $custom-dark-primary-text
  )
);

$mat-clarity-light-orange: (
  50: #fefcf6,
  100: #fdf7ea,
  200: #fcf1dc,
  300: #fbebcd,
  400: #fae7c3,
  500: #f9e3b8,
  600: #f8e0b1,
  700: #f7dca8,
  800: #f6d8a0,
  900: #f5d091,
  A100: #ffffff,
  A200: #fffde4,
  A400: #fcf7bf,
  A700: #fff58d,
  contrast: (
    50: $custom-dark-primary-text,
    100: $custom-dark-primary-text,
    200: $custom-dark-primary-text,
    300: $custom-dark-primary-text,
    400: $custom-dark-primary-text,
    500: $custom-dark-primary-text,
    600: $custom-dark-primary-text,
    700: $custom-dark-primary-text,
    800: $custom-dark-primary-text,
    900: $custom-dark-primary-text,
    A100: $custom-dark-primary-text,
    A200: $custom-dark-primary-text,
    A400: $custom-dark-primary-text,
    A700: $custom-dark-primary-text
  )
);

$mat-zgreen: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #dbebdf,
    300 : #add2b7,
    400 : #99c7a5,
    500 : #85bc94,
    600 : #71b183,
    700 : #5da671,
    800 : #519463,
    900 : #468056,
    A100 : #ffffff,
    A200 : #e2f8e8,
    A400 : #9cd8ac,
    A700 : #91c9a1,
    contrast: (
        50 : $custom-dark-primary-text,
        100 : $custom-dark-primary-text,
        200 : $custom-dark-primary-text,
        300 : $custom-dark-primary-text,
        400 : $custom-dark-primary-text,
        500 : $custom-dark-primary-text,
        600 : $custom-dark-primary-text,
        700 : $custom-dark-primary-text,
        800 : $custom-light-primary-text,
        900 : $custom-light-primary-text,
        A100 : $custom-dark-primary-text,
        A200 : $custom-dark-primary-text,
        A400 : $custom-dark-primary-text,
        A700 : $custom-dark-primary-text,
    )
);

$mat-zdarkgreen: (
    50 : #ffffff,
    100 : #dae5dd,
    200 : #b9cebf,
    300 : #8fb098,
    400 : #7da487,
    500 : #6b9777,
    600 : #5e8669,
    700 : #51745b,
    800 : #45624c,
    900 : #38503e,
    A100 : rgb(121, 156, 151),
    A200 : rgb(114, 141, 146),
    A400 : #7abb8c,
    A700 : #74a782,
    contrast: (
        50 : $custom-dark-primary-text,
        100 : $custom-dark-primary-text,
        200 : $custom-dark-primary-text,
        300 : $custom-dark-primary-text,
        400 : $custom-dark-primary-text,
        500 : $custom-dark-primary-text,
        600 : $custom-light-primary-text,
        700 : $custom-light-primary-text,
        800 : $custom-light-primary-text,
        900 : $custom-light-primary-text,
        A100 : $custom-light-primary-text,
        A200 : $custom-light-primary-text,
        A400 : $custom-dark-primary-text,
        A700 : $custom-dark-primary-text,
    )
);
