@import "./i0-palletes.scss";

//---------------
// FUNCTION
//---------------

// help
// mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700, $text: $default)
// mat-color($palette, $hue: default, $opacity: null)
// map-get($map, $key) // get the value from $map with the $key
// map-merge($map1, $map2) // join two maps, return map
// x = $mat-light-theme-background, $mat-light-theme-foreground, those maps have the keys for theming
// mat-light-theme function returns a map with a key called background and foreground with values of x
// to change an specific pallete $mat-green: map-merge( $mat-green,(contrast:(800:blue)));
// to change fore color of buttons or others, create your own pallete or change some pallete

// function
// automate custom theme creation
@function create($args) {
  // create theme
  $p: map-get($args, primary);
  $a: map-get($args, accent);
  $w: map-get($args, warning);
  $theme: null;

  @if map-get($args, is-dark) {
    $theme: mat-dark-theme($p, $a, if($w==null, mat-palette($mat-red, 400), $w));
  } @else {
    $theme: mat-light-theme($p, $a, if($w==null, mat-palette($mat-red, 400), $w));
  }

  // stablish fore and back
  $fore: map-get($args, fore);
  $back: map-get($args, back);
  $old-fore: map-get($theme, foreground);
  $old-back: map-get($theme, background);

  @return map-merge(
    $theme,
    (
      foreground: if($fore==null, $old-fore, map-merge($old-fore, $fore)),
      background: if($back==null, $old-back, map-merge($old-back, $back))
    )
  );
}

//
//
//
//
//
//
//

// ---------------------
// CREATE TEMPLATES
// ---------------------

// *name: sirve para identificar el template aplicado,
// para evitar choques entre los special
// *theme: genera un theme usando la funcion create
// *all: apply typography to all angular components,
// *special: only change a few components (see mixin global-theme)
// NOTE: for change general color text, or other things change
// fore or back

// ---------------------
// Default template
// ---------------------

$template-default: (
  name: "default",
  theme:
    create(
      (
        primary: mat-palette($mat-indigo),
        accent: mat-palette($mat-clarity-blue, A400),
        warning: null,
        is-dark: false,
        fore: (
          text: map-get($mat-gray, 800)
        ),
        back: null
      )
    ),
  all:
    mat-typography-config(
      $body-2: mat-typography-level(13.3px, 24px, 500),
      $body-1: mat-typography-level(13.3px, 20px, 400),
      $button: mat-typography-level(13.3px, 14px, 500)
    ),
  special:
    mat-typography-config(
      $button: mat-typography-level(13.3px, 14px, 400)
    )
);

// ---------------------
// Color template
// ---------------------

$template-color: (
  name: "color",
  theme:
    create(
      (
        primary: mat-palette($mat-clarity-blue, 500),
        accent: mat-palette($mat-blue-gray, 400),
        warning: null,
        is-dark: false,
        fore: (
          text: map-get($mat-gray, 800)
        ),
        back: (
          dialog: map-get($mat-gray, 100),
          background: map-get($mat-gray, 50)
        )
      )
    ),
  all:
    mat-typography-config(
      $body-2: mat-typography-level(13.3px, 24px, 500),
      $body-1: mat-typography-level(13.3px, 20px, 400),
      $button: mat-typography-level(13.3px, 14px, 500)
    ),
  special:
    mat-typography-config(
      $button: mat-typography-level(13.3px, 14px, 400)
    )
);

// ---------------------
// Light custom Theme
// ---------------------

$template-light: (
  name: "light",
  theme:
    create(
      (
        primary: mat-palette($mat-gray, 300),
        accent: mat-palette($mat-blue-gray, 500),
        warning: null,
        is-dark: false,
        fore: (
          text: map-get($mat-gray, 600)
        ),
        back: (
          dialog: map-get($mat-gray, 100),
          background: map-get($mat-gray, 50)
        )
      )
    ),
  all:
    mat-typography-config(
      $body-2: mat-typography-level(13.3px, 24px, 500),
      $body-1: mat-typography-level(13.3px, 20px, 400),
      $button: mat-typography-level(13.3px, 14px, 500)
    ),
  special:
    mat-typography-config(
      $button: mat-typography-level(13.3px, 14px, 400)
    )
);

// -------------------
// Dark custom Theme
// -------------------

$template-dark: (
  name: "dark",
  theme:
    create(
      (
        primary: mat-palette($mat-gray, 900),
        accent: mat-palette($mat-green, A200),
        warning: null,
        is-dark: true,
        fore: (
          text: map-get($mat-gray, 100)
        ),
        back: null
      )
    ),
  all:
    mat-typography-config(
      $body-2: mat-typography-level(13.3px, 24px, 500),
      $body-1: mat-typography-level(13.3px, 20px, 400),
      $button: mat-typography-level(13.3px, 14px, 500)
    ),
  special:
    mat-typography-config(
      $subheading-1: mat-typography-level(15px, 24px, 300),
      $button: mat-typography-level(13.3px, 14px, 400)
    )
);

// -----------------------------
// TIPS: Original values Typo
// -----------------------------

// $default-typography: mat-typography-config(
//   $font-family:   'Roboto, "Helvetica Neue", sans-serif',
//   $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
//   $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
//   $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
//   $display-1:     mat-typography-level(34px, 40px, 400),
//   $headline:      mat-typography-level(24px, 32px, 400),
//   $title:         mat-typography-level(20px, 32px, 500),
//   $subheading-2:  mat-typography-level(16px, 28px, 400),
//   $subheading-1:  mat-typography-level(15px, 24px, 400),
//   $body-2:        mat-typography-level(14px, 24px, 500),
//   $body-1:        mat-typography-level(14px, 20px, 400),
//   $caption:       mat-typography-level(12px, 20px, 400),
//   $button:        mat-typography-level(14px, 14px, 500),
//   // Line-height must be unit-less fraction of the font-size.
//   $input:         mat-typography-level(inherit, 1.125, 400)
// );
