@import "./i1-templates.scss";

// -------------------------------------
// Global mixins
// -------------------------------------

// todo lo de este mixin se aplica de manera global
// a toda la aplicación, para esto se usan clases o
// se sobreescriben las clases de material. Este
// mixin es invocado en en el mixin set-template.

@mixin global-theme($template) {
  $theme: map-get($template, theme);
  $special: map-get($template, special);
  // $all: map-get($template, all);

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $fore: map-get($theme, foreground);
  $back: map-get($theme, background);

  .mat-tooltip {
    // AVOID COLORS: need overlay update in component
    // for example background: mat-color($accent);
    font-size: 12.6px;
  }

  .mat-toolbar {
    button {
      &:hover {
        background-color: rgba(43, 94, 117, 0.377);
      }
    }
  }

  // mat-form-fields

  .center-flex {
    // base for center something
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-underline .mat-form-field-underline {
    display: none;
  }

  .simple-outline .mat-form-field-wrapper {
    // base for outline field
    padding: unset;
    margin: unset;
    .mat-form-field-flex {
      margin: unset;
      padding: 4.2px 8px;
      .mat-form-field-outline {
        top: 0;
      }
      .mat-form-field-infix {
        margin: unset;
        padding: unset;
        border-top: unset;
        .mat-form-field-label-wrapper {
          display: none;
        }
      }
    }
    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }

  .paginator-outline {
    @extend .simple-outline;
    width: 70px;
    text-align: right;
    input.mat-input-element {
      margin: unset;
    }
  }

  .chips-outline {
    @extend .simple-outline;
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        padding-top: 2.3px; // this-top + standard-chip-margin-top = space to outline
        padding-bottom: 4.3px; // space to bottom of outline

        // border color and thickness
        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
          border-width: 1px;
        }
        .mat-form-field-outline {
          color: rgba(0, 0, 0, 0.12);
        }
      }
    }

    .mat-chip-list-wrapper {
      margin: unset;
      .mat-standard-chip {
        border-radius: 21px;
        padding: 0 1.7px 0 0px;
        margin: 2.4px 4.2px 0 0; // same top as input (top=separtion between chips)
        min-height: 21px; // same height as input
        .mat-chip-remove {
          margin-left: 1px;
          @extend .center-flex;
          &.other-remove-icon {
            // use this class when you dont use "cancel" icon
            font-size: 15px;
            font-weight: 900;
          }
        }
        font: {
          weight: mat-font-weight($special, button);
        }
        .filter-span {
          @extend .center-flex;
          padding: 0 5.6px 0 7px;
          margin-right: 4.9px;
          border-radius: 21px;
          background: mat-color($accent);
          color: rgb(255, 255, 255);
          .mat-icon {
            @extend .center-flex;
            font-size: 17px;
            width: 17px;
          }
        }
      }
      input.mat-chip-input {
        flex: 1 0 auto; // flex + width allow to set input min width before jump next line
        width: 100px;
        min-height: 21px;
        margin: 2.4px 0 0 0;
      }
    }
  }

  .inlist {
    width: 100%;
    &.clickable {
      input {
        height: 100%;
        cursor: pointer;
      }
      mat-error {
        cursor: pointer;
      }
    }
    .mat-form-field-wrapper {
      // for inlist table relational fields
      padding: unset;
      margin: unset;
      .mat-form-field-underline {
        position: unset;
      }
      .mat-form-field-flex {
        margin: unset;
        padding: unset;
        .mat-form-field-infix {
          margin: unset;
          padding: 4.9px 0 3px 0;
          border-top: unset;
          .mat-form-field-label-wrapper {
            display: none;
          }
        }
      }
      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .simple-m2o {
    input {
      cursor: pointer;
    }
    .mat-form-field-flex {
      align-items: flex-end;
    }
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 0;

    .mat-dialog-title {
      margin: 0;
      padding: 7px 14px; // same right-left
    }
    .divider {
      padding: 14px 14px 0 14px; // same right-left
    }
    .sidepad {
      padding: 0 14px; // same right-left
    }
    .mat-dialog-content {
      padding: 0;
      margin: 0;
    }
    .mat-dialog-actions {
      margin: 0;
      padding: 14px 14px; // same right-left
      min-height: unset;
    }
  }

  // special typography
  // applies to: all button in a toolbar, or class="sp-button"

  .mat-toolbar button,
  .sp-button {
    font: {
      // family: mat-font-family($special, button);
      size: mat-font-size($special, button);
      weight: mat-font-weight($special, button);
    }
  }

  // crear clases para notifications/alerts
  @each $name, $color in $notifications {
    .color-#{$name} {
      color: $color;
    }
    .back-#{$name} {
      background-color: $color;
    }
  }
}

// -------------------------------------
// Template mixin
// -------------------------------------

// join all mixins: global mixins and component mixins
// this is used in theme.scss to make possible dynamic
// theme changing in the application.

@import "../admin/desk/desk-menu/desk-menu.component.scss.scss";

@mixin set-template($template) {
  $name: map-get($template, name);
  $theme: map-get($template, theme);
  $all: map-get($template, all);
  $special: map-get($template, special);

  // first standard modifications
  @include angular-material-theme($theme);
  @include angular-material-typography($all);
  // second global modifications
  @include global-theme($template);
  // third component modifitacions
  @include app-desk-menu-theme($special, $name);
}

//
//
//
//
//
//
//

// ---------------------------------------------
// TIPS: global styles & material modifications
// ---------------------------------------------

// // apply a global style for material tooltip
// // !important will override other property
// // in .mat-tooltip.standard or others
// .mat-tooltip {
//   font-size: 12.6px;
// }

// // all tags with attributte [matTooltipClass]="'standard'"
// // will have this global style for angular material tooltip
// .mat-tooltip.standard {
//   background: red;
//   font-size:20px;
// }

// // how to apply specific style to specific tooltip from component scss style
// // you have to use [matTooltipClass]="'tooltip1x'" in the html tag to apply
// // this code goes inside .scss of component:
// ::ng-deep .mat-tooltip.tooltip1x {
//   background: red;
//   font-size:20px;
// }
