@import "./i2-global.scss";

//-----------------------------------------------
// Default theme (applied without class .theme#)
//-----------------------------------------------

@include set-template($template-default);

//------------------------------------------
// Classes for dynamic Themes: 'theme' + id
//------------------------------------------

.theme0 {
  @include set-template($template-color);
}
.theme1 {
  @include set-template($template-light);
}
.theme2 {
  @include set-template($template-dark);
}

// -------------------------
// Export vars to TypeScript
// for browser color purpose
// -------------------------
@function get_primary($th) {
  $color: map-get(map-get($th, primary), default);
  @return ie-hex-str($color);
}

$color0: get_primary(map-get($template-color, theme));
$color1: get_primary(map-get($template-light, theme));
$color2: get_primary(map-get($template-dark, theme));

@mixin define-custom-property($name, $value) {
  #{$name}: unquote("#" + str_slice($value, 4)); //put $value in format #123456
}

body {
  // PREFIX = '--'  this is to avoid problems with original angular properties
  @include define-custom-property("--theme0", $color0);
  @include define-custom-property("--theme1", $color1);
  @include define-custom-property("--theme2", $color2);
}
