<form [formGroup]="group" (ngSubmit)="submitForm()" #formRef="ngForm">

  <app-char #firstFocus [parent]="group" [meta]="fields.name" [error]="eName()"></app-char>

  <app-one2many #relational [parent]="group" [meta]="fields.patronlinea_ids" [def]="definition.patronlinea_ids"></app-one2many>

</form>
