<mat-form-field color="accent" appearance="outline" [ngClass]="'chips-outline'">

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let chip of searchChips; let idx = index" [ngClass]="'mat-body'" [selectable]="true"
      [removable]="true" (removed)="remove(idx)" (press)="chipPressed(idx)">
      <span [ngClass]="'filter-span'">{{chip.label}}</span> {{chip.text}}
      <mat-icon matChipRemove [ngClass]="'other-remove-icon'">clear</mat-icon>
    </mat-chip>
    <input placeholder="Buscar..." #filterInput [formControl]="searchControl" [ngClass]="'mat-body'"
      [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="false"
      (keydown.enter)="press('enter')" (keydown.shift.enter)="press('shift+enter')">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="addSelected(filterInput)">
    <ng-container *ngIf="{text: text$ | async} as data">
      <mat-option *ngFor="let field of (data.text ? filterFields: [])" [value]="{field:field, text:data.text}"
        [ngClass]="'autocomplete'">
        <span>Buscar {{field.label}}:&nbsp;&nbsp;</span>
        <span [ngClass]="'text'">{{data.text}}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>

</mat-form-field>
