<ng-container [formGroup]="parent">
  <ng-container [formArrayName]="meta.fieldname">

    <app-listtable #listtable [parent]="group" [metafields]="meta.fields" [cNames]="columnNames"
      [editable]="mode !== 'read'" [config]="config" (bclick)="bclick($event)">
    </app-listtable>

  </ng-container>
</ng-container>
