<ng-container *ngIf="{ fields: fields$ | async } as data">

  <form [formGroup]="group" (ngSubmit)="submitForm()" #formRef="ngForm">

    <mat-form-field appearance="standard">
      <mat-label>{{data.fields['id'].label}}</mat-label>
      <input #firstFocus matInput placeholder="Placeholder" formControlName="id" type="number" autocomplete="off">
      <mat-error *ngIf="eName(0)">{{eName(1)}}</mat-error>
    </mat-form-field>
    <br>
    <!-- username -->
    <mat-form-field appearance="standard">
      <mat-label>{{data.fields['name'].label}}</mat-label>
      <input matInput placeholder="Placeholder" formControlName="name" type="text" autocomplete="off">
      <mat-error *ngIf="eName(0)">{{eName(1)}}</mat-error>
    </mat-form-field>

  </form>

</ng-container>
