<!-- container -->
<div fxFlexFill fxLayout="row" fxLayoutAlign="start start" [ngStyle]="{'padding-top': top.global}"
  [ngStyle.lt-md]="{'padding-top': top.mobile}">

  <!-- lateral responsive -->
  <span fxFlex="{{lateral.global}}" fxFlex.lt-md="{{lateral.mobile}}"></span>

  <!-- container of groups -->
  <div fxFlex>
    <!-- TODO ngfor with trackby to not render all DOM, see angular/eficience bookmarks -->
    <ng-container *ngFor="let group of groups">

      <!-- name of group -->
      <p [ngClass]="'mat-caption'" [ngStyle]="{'padding-left': basicSpace}">{{group.name | uppercase}}</p>
      <!-- cards wrapped -->
      <div fxLayout="row wrap" fxLayoutAlign="start">
        <div *ngFor="let module of group.children" fxFlex="25%" fxFlex.md="33.3%" fxFlex.sm="50%" fxFlex.xs="100%"
          [ngStyle]="{'padding': space.global}" [ngStyle.lt-md]="{'padding': space.mobile}">

          <mat-card class="mat-elevation-z1" [routerLink]="[module.client_route]" (click)="go(module)" fxFlex matRipple>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>
                <mat-icon>{{ module.icon }}</mat-icon>
              </span>
              <span class="mat-h4 mod">{{ module.name }}</span>
            </div>
          </mat-card>

        </div>
      </div>
      <br>

    </ng-container>
  </div>

  <!-- lateral responsive -->
  <span fxFlex="{{lateral.global}}" fxFlex.lt-md="{{lateral.mobile}}"></span>

</div>
