// $subheading-1:  mat-typography-level(15px, 24px, 400),
@import "~@angular/material/theming";

@mixin app-desk-menu-theme($special, $name) {
  app-desk-menu {
    .mat-card span.mat-h4.mod {
      // margin 0 in order to avoid
      // margin of mat-h4 typography
      margin: 0px 0px 0px 21px;

      // only apply to dark theme
      // subheading-1 == mat-h4
      @if $name == "dark" {
        font-weight: mat-font-weight($special, subheading-1);
      }
    }
  }
}
