@import "~@angular/material/theming";

.mat-card {
  cursor: pointer; // allows manito en mouse
  & mat-icon {
    font-size: 35px;
    width: 35px;
    padding-top: 3px;
  }
  &:hover {
    // allow elevation on hover (mouse over)
    @include mat-elevation(4);
  }
}


// permite que no se seleccione un card ni que
// tenga el highlight azul en browsers touch
.mat-card {
  // border: 0 none !important;
  outline: 0 !important;
  // -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
