<div>otro</div>
<app-child [config]="config"></app-child>
<button (click)="onClick()">Trigger change detection</button>
<br>
<br>
<br>
<div>otro</div>
<app-counter></app-counter>
<br>
<br>
<br>
<div>otro</div>
<app-detectchange></app-detectchange>
<br>
<br>
<br>
<div>otro</div>
<app-obs></app-obs>