// TODO: consider to put this DRY in theme system. Also don't
// forget this class need mat-icon in html uses inline=true
// this attribute(inline) is proper of mat-icon and is boolean
.mini-button {
  padding: unset !important; // cell without padding
  button {
    width: 35px !important;
    min-width: unset !important;
    height: 28px;
    line-height: unset;
    padding: unset !important;
    .mat-icon {
      color: gray;
      font-size: 1.4em;
    }
  }
}

// table

.mat-table {
  width: 100%;

  .mat-header-row {
    // TODO: use theme system to apply this colors and font
    min-height: 31.5px;
    background: rgb(224, 224, 224);
    .mat-header-cell {
      font-weight: 900;
      padding: 0 10px 0 5px; // same pad
      &:first-child {
        padding-left: 14px; // same left
      }
    }
  }

  .mat-row {
    min-height: 28px;
    // border-bottom: 0px;
    border-bottom-color: rgb(224, 224, 224);
    cursor: pointer;
    &:hover {
      background: rgb(238, 238, 238);
    }
    .mat-cell {
      padding: 0 10px 0 5px; // same pad
      &:first-child {
        padding-left: 14px; // same left
      }
      & * {
        width: 100%;
      }
    }
  }

  .mat-footer-row {
    min-height: 28px;
    &.hidden {
      min-height: 4.9px;
      border-bottom: 0px;
    }
    background: rgb(224, 224, 224);
    // border-top-color: rgb(210, 210, 210);
    // border-top-width: 1px;
    .mat-footer-cell {
      padding: unset;
      button.mat-button {
        padding: 0px 14px;
        line-height: unset;
        height: 28px;
        font-weight: normal;
      }
    }
  }
  .highlight {
    background: rgb(248.5, 248.5, 248.5);
  }
}
