<form [formGroup]="group" (ngSubmit)="submitForm()" #formRef="ngForm">

  <app-char  [parent]="group" [meta]="fields.name" [error]="eName()"></app-char>

  <app-many2one #firstFocus [parent]="group" [meta]="fields.atributo_id" [validators]="definition.atributo_id" [error]="[0,'0']">
  </app-many2one>


</form>

